<div class="container">
	<h4 class="my-5">Formularios <small>template</small></h4>

	<form (ngSubmit)="guardar(form)" #form="ngForm" novalidate="">
		<div class="form-group row">
			<label class="col-2 col-form-label">Nombre</label>
			<div class="col-10">
				<input class="form-control" [ngClass]="{ 'is-invalid': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }" type="text" minlength="3" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" #nombre="ngModel" required>
				<!-- error -->
				<div class="invalid-feedback" *ngIf="nombre.errors?.required">Este campo es requerido</div>
				<div class="invalid-feedback" *ngIf="nombre.errors?.minlength">Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-2 col-form-label">Apellido</label>
			<div class="col-10">
				<input class="form-control" [ngClass]="{ 'is-invalid': (apellido.errors?.required) && apellido.touched }" type="text" placeholder="Apellido" name="apellido" [(ngModel)]="usuario.apellido" #apellido="ngModel" required>
				<!-- error -->
				<div class="invalid-feedback" *ngIf="apellido.errors?.required">Este campo es requerido</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-2 col-form-label">Email</label>
			<div class="col-md-10">
				<input class="form-control" [ngClass]="{ 'is-invalid': (email.errors?.required || email.errors?.pattern) && email.touched }" type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="usuario.correo" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
				<!-- error -->
				<div class="invalid-feedback" *ngIf="email.errors?.required">Este campo es requerido</div>
				<div class="invalid-feedback" *ngIf="email.errors?.pattern">El email no es correcto</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-2 col-form-label">País</label>
			<div class="col-md-10">
				<select class="form-control" name="pais" [(ngModel)]="usuario.pais">
					<option value="">Seleccione un país</option>
					<option *ngFor="let pais of paises" [value]="pais.codigo">{{ pais.nombre }}</option>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-2 col-form-label">&nbsp;</label>
			<div class="col-md-10">
				<button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">Guardar</button>
			</div>
		</div>
	</form>

	<pre>
		{{ usuario | json }}
	</pre>
</div>